.footerLogoIcon {
  position: absolute;
  top: 21.25rem;
  left: 5.313rem;
  width: 10rem;
  height: 1.25rem;
  cursor: pointer;
}
.div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 11.138rem;
  height: 1.375rem;
}

.div,
.div1,
.div2,
.amlKyc,
.div3,
.div4,
.div5 {
  padding-bottom: 3px;
  border-bottom: 2px solid #10B981;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}
.div:hover,
.div1:hover,
.div2:hover,
.amlKyc:hover,
.div3:hover,
.div4:hover,
.div5:hover{
  border-bottom-color: transparent;
}

.footerLink {
  position: absolute;
  top: 16.875rem;
  left: 75.606rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 11.113rem;
  height: 1.538rem;
}
.div1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 9.431rem;
  height: 1.375rem;
}
.footerLink1 {
  position: absolute;
  top: 16.875rem;
  left: 63.069rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 9.413rem;
  height: 1.538rem;
}
.div2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 15.113rem;
  height: 1.375rem;
}
.footerLink2 {
  position: absolute;
  top: 16.875rem;
  left: 44.856rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 15.088rem;
  height: 1.538rem;
}
.amlKyc {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 9.881rem;
  height: 1.375rem;
}
.footerLink3 {
  position: absolute;
  top: 16.875rem;
  left: 31.869rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 9.863rem;
  height: 1.538rem;
}
.div3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 15.863rem;
  height: 1.375rem;
}
.footerLink4 {
  position: absolute;
  top: 16.875rem;
  left: 12.906rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 15.838rem;
  height: 1.538rem;
}
.div4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 4.494rem;
  height: 1.375rem;
}
.footerLink5 {
  position: absolute;
  top: 16.875rem;
  left: 5.313rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 4.475rem;
  height: 1.538rem;
}
.div5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 11.919rem;
  height: 1.25rem;
}
.footerRisks {
  position: absolute;
  top: 12.15rem;
  left: 5.313rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 11.894rem;
  height: 1.313rem;
  font-size: var(--font-size-mini);
}
.forex {
  margin: 0;
}
.forexContainer {
  top: 6.438rem;
  left: 5.313rem;
  font-size: var(--pocketoptioncom-semantic-link-size);
  line-height: 24px;
  color: var(--color-lightslategray-100);
  display: flex;
  align-items: center;
  width: 93.625rem;
  height: 4.125rem;
}
.b,
.forexContainer,
.vectorIcon {
  position: absolute;
}
.vectorIcon {
  height: 101.67%;
  width: 8.11%;
  top: -0.83%;
  right: 91.13%;
  bottom: -0.83%;
  left: 0.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  top: 0.125rem;
  left: 2.25rem;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 14.775rem;
  height: 1.25rem;
}
.footerWarning {
  position: absolute;
  width: calc(100% - 1319px);
  top: 4.375rem;
  right: 77.25rem;
  left: 5.188rem;
  height: 1.5rem;
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray-100);
}
.footer {
  position: absolute;
  top: 171.688rem;
  left: 0;
  background-color: var(--color-darkslategray-500);
  width: 101.25rem;
  height: 24.563rem;
  overflow: hidden;
}
.b1 {
  top: 1.063rem;
  left: 2.169rem;
  line-height: 12px;
  display: inline-block;
  width: 9.419rem;
}
.b1,
.b2,
.bottomBtn {
  position: absolute;
}
.bottomBtn {
  cursor: pointer;
  top: 0;
  left: 15.531rem;
  border-radius: var(--br-xl);
  background: linear-gradient(0deg, rgba(16, 185, 129, 0.98), #0a6043);
  width: 13.75rem;
  height: 2.875rem;
  overflow: hidden;
}
.b2 {
  top: 0.813rem;
  left: 0;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  line-height: 20px;
  font-family: var(--pocketoptioncom-semantic-link);
  color: var(--color-mediumseagreen-200);
  text-align: left;
}
.choiceBottom {
  position: absolute;
  top: 42.125rem;
  left: 25.469rem;
  width: 29.313rem;
  height: 2.875rem;
  text-align: center;
  color: var(--pocketoptioncom-white);
}
.b3 {
  height: 18.23%;
  width: 52.29%;
  top: 29.17%;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.b3,
.b4,
.vectorIcon1 {
  position: absolute;
  left: 0;
}
.b4 {
  height: 37.5%;
  width: 100%;
  top: 55.21%;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  line-height: 20px;
  display: flex;
  color: var(--color-silver);
  align-items: center;
}
.vectorIcon1 {
  height: 23.96%;
  width: 22.14%;
  top: 0;
  right: 77.86%;
  bottom: 76.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.listSix {
  position: absolute;
  top: 15.688rem;
  left: 63.875rem;
  width: 16.375rem;
  height: 12rem;
}
.b5 {
  height: 17.41%;
  width: 57.32%;
  top: 32.84%;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.b5,
.b6,
.vectorIcon2 {
  position: absolute;
  left: 0;
}
.b6 {
  height: 36.32%;
  width: 100%;
  top: 57.71%;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  line-height: 20px;
  display: flex;
  color: var(--color-silver);
  align-items: center;
}
.vectorIcon2 {
  height: 27.86%;
  width: 21.14%;
  top: 0;
  right: 78.86%;
  bottom: 72.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.listFive {
  position: absolute;
  top: 15.688rem;
  left: 31.188rem;
  width: 15.375rem;
  height: 12.563rem;
}
.b7,
.b8 {
  position: absolute;
  height: 21.6%;
  width: 76.75%;
  top: 36.42%;
  left: 0.74%;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.b8 {
  height: 32.72%;
  width: 100%;
  top: 67.28%;
  left: 0;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--color-silver);
}
.vectorIcon3 {
  position: absolute;
  height: 30%;
  width: 20.66%;
  top: 0;
  right: 78.6%;
  bottom: 70%;
  left: 0.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.listFour {
  position: absolute;
  top: 15.688rem;
  left: 0;
  width: 16.938rem;
  height: 10.125rem;
}
.b9 {
  height: 7.81%;
  width: 39.69%;
  top: 33.85%;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.b10,
.b9,
.vectorIcon4 {
  position: absolute;
  left: 0;
}
.b10 {
  height: 38.02%;
  width: 101.91%;
  top: 49.48%;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  line-height: 20px;
  display: flex;
  color: var(--color-silver);
  align-items: center;
}
.vectorIcon4 {
  height: 28.13%;
  width: 22.9%;
  top: 0.52%;
  right: 77.1%;
  bottom: 71.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.listThree {
  position: absolute;
  top: 0;
  left: 63.894rem;
  width: 16.375rem;
  height: 12rem;
}
.b11,
.b12 {
  position: absolute;
  height: 31.58%;
  width: 54.21%;
  top: 40.94%;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.b12 {
  height: 18.71%;
  width: 100%;
  top: 81.29%;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--color-silver);
}
.vectorIcon5 {
  height: 35.09%;
  width: 20.99%;
  right: 79.01%;
  bottom: 64.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.listTwo,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  top: 0;
}
.listTwo {
  left: 31.188rem;
  width: 17.894rem;
  height: 10.688rem;
}
.vectorIcon6 {
  left: 0;
  width: 3.75rem;
  height: 3.75rem;
}
.b13,
.mt5Container {
  position: absolute;
  top: 4.563rem;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 16.375rem;
  height: 0.938rem;
}
.mt5Container {
  top: 6.313rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--color-silver);
  height: 5.75rem;
}
.listOne {
  top: 0;
  width: 16.375rem;
  height: 12.063rem;
}
.choiceList,
.div6,
.listOne {
  position: absolute;
  left: 0;
}
.choiceList {
  top: 8.438rem;
  width: 81.75rem;
  height: 28.25rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  font-family: var(--pocketoptioncom-semantic-link);
}
.div6 {
  top: 0;
  font-size: 45px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 700px;
  height: 2.063rem;
}
.choiceContainer {
  position: absolute;
  top: 7.313rem;
  left: 6.25rem;
  width: 81.75rem;
  height: 45rem;
}
.mainChoice {
  position: absolute;
  width: 100%;
  top: 116.25rem;
  right: 0;
  left: 0;
  background-color: var(--color-darkslategray-600);
  height: 55.438rem;
}
.b14 {
  top: 0;
  left: -0.062rem;
  line-height: 60px;
  width: 5.188rem;
  height: 3.125rem;
}
.b14,
.b15,
.b16 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b15 {
  top: 4.125rem;
  left: -0.062rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  line-height: 20px;
  color: var(--color-silver);
  width: 14.375rem;
  height: 2.125rem;
}
.b16 {
  top: 11.563rem;
  line-height: 60px;
  width: 13.25rem;
  height: 3.188rem;
}
.b16,
.b17,
.b18 {
  left: -0.062rem;
}
.b17 {
  position: absolute;
  top: 15.75rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  line-height: 20px;
  display: flex;
  color: var(--color-silver);
  align-items: center;
  width: 17.313rem;
  height: 2.063rem;
}
.b18 {
  top: 23.125rem;
  line-height: 60px;
  width: 4.125rem;
  height: 3.188rem;
}
.b18,
.b19,
.b20,
.b21 {
  position: absolute;
  display: flex;
  align-items: center;
}
.b19 {
  top: 27.313rem;
  left: -0.062rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  line-height: 20px;
  color: var(--color-silver);
  width: 16.188rem;
  height: 2.063rem;
}
.b20,
.b21 {
  left: 29.5rem;
}
.b20 {
  top: 0;
  line-height: 60px;
  width: 3.188rem;
  height: 3.125rem;
}
.b21 {
  top: 4.188rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  line-height: 20px;
  color: var(--color-silver);
  width: 14.75rem;
  height: 2.063rem;
}
.b22 {
  top: 12rem;
  line-height: 60px;
  width: 5.563rem;
  height: 2.375rem;
}
.b22,
.b23,
.b24,
.b25 {
  position: absolute;
  left: 29.5rem;
  display: flex;
  align-items: center;
}
.b23 {
  top: 15.375rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  line-height: 20px;
  color: var(--color-silver);
  width: 14.625rem;
  height: 0.75rem;
}
.b24,
.b25 {
  top: 23.438rem;
  line-height: 60px;
  width: 5.625rem;
  height: 2.438rem;
}
.b25 {
  top: 26.875rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  line-height: 20px;
  color: var(--color-silver);
  width: 12.688rem;
  height: 0.75rem;
}
.conditionsList {
  position: absolute;
  top: 16.25rem;
  left: 0;
  width: 44.25rem;
  height: 29.625rem;
  overflow: hidden;
}
.txt {
  width: 100%; 
}
.div7 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--pocketoptioncom-semantic-heading-2-size);
  letter-spacing: 1px;
  line-height: 57.4px;
  font-weight: 600;
  color: var(--color-mintcream);
  display: flex;
  align-items: center;
  width: 40rem;
}
.conditionsContainer {
  position: absolute;
  width: calc(100%);
  top: 6.25rem;
  right: 22.125rem;
  left: 6.25rem;
  height: 46.5rem;
}
.mainConditions {
  position: absolute;
  left: 0;
  height: 58.125rem;
}
.mainConditions {
  width: 100%;
  top: 58.125rem;
  right: 0;
  background-color: #1e242d;
  font-size: var(--font-size-31xl);
  color: var(--color-mediumseagreen-200);
}
.fonovoefoto1Icon {
  top: 0;
  height: 100%;
  width: 101.25rem;
}
.div8{
  margin-left: 98px;
  /* padding-left: 8px; */
  position: relative;
  top: 0.063rem;
  /* left: 51px; */
  line-height: 12px;
  font-weight: 600;
  border-bottom: 2px solid #10B981;
  padding-bottom: 5px;
  transition: border-bottom 0.4s ease; 
  cursor: pointer;
}
.div8:hover {
  border-bottom-color: transparent;
}
.Textor {
  position: absolute;
  top: 0.063rem;
  left: 6.188rem;
  line-height: 12px;
  font-weight: 600;
}
.Textor {
  left: 3.75rem;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.938rem;
  height: 0.75rem;
}
.btnTextItem {
  position: absolute;
  top: 1.063rem;
  left: 0.063rem;
  background-color: var(--color-mediumseagreen-300);
  width: 3.25rem;
  height: 0.063rem;
}
.div10 {
  top: 0.063rem;
  left: 0.125rem;
  line-height: 12px;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 2px solid #10B981;
  transition: border-bottom 0.4s ease;
  cursor: pointer;
}
.div10:hover{
  border-bottom-color: transparent;
}
.b26,
.btnText,
.div10 {
  position: absolute;
}
.btnText {
  top: 8.938rem;
  left: 0.063rem;
  width: 341px;
  height: 1rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
}
.b26 {
  top: 1.063rem;
  left: 3.438rem;
  line-height: 12px;
}
.btnRight {
  top: 3.688rem;
  left: 12.625rem;
  border-radius: var(--br-xl);
  background: linear-gradient(0deg, #10b981, #0a6043);
  width: 10.313rem;
  height: 2.875rem;
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.b27,
.btnLeft,
.btnRight {
  position: absolute;
  cursor: pointer;
}
.b27 {
  top: 1.063rem;
  left: 1.625rem;
  line-height: 12px;
}
.btnLeft {
  top: 3.688rem;
  left: 0.063rem;
  border-radius: var(--br-xl);
  background: linear-gradient(0deg, #10b981, #0a6043);
  width: 10.313rem;
  height: 2.875rem;
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.b28,
.btnContainer {
  position: absolute;
  left: 0;
}
.b28 {
  top: 0;
  font-size: 22px;
  line-height: 30px;
  display: inline-block;
  width: 18.688rem;
}
.btnContainer {
  top: 16.875rem;
  width: 23.688rem;
  height: 10.188rem;
  overflow: hidden;
}
.sliderContainer {
  position: absolute;
  width: 44.125rem;
}
.div11 {
  width: px;
  top: 0;
  left: 0;
  font-size: var(--font-size-31xl);
  letter-spacing: 0.12em;
  line-height: 61.6px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  height: 15.625rem;
}
.sliderContainer {
  top: 15rem;
  left: 6.25rem;
  height: 27.063rem;
}
.main,
.mainSlider {
  position: relative;
  top: 0;
  left: 0;
}
.mainSlider {
  width: 100%;
  right: 0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--pocketoptioncom-semantic-link);
}
.main {
  width: 101.25rem;
  /* height: 171.688rem; */
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.vectorIcon7 {
  position: absolute;
  height: 25.2%;
  width: 10%;
  top: 38.8%;
  right: 5.48%;
  bottom: 36%;
  left: 84.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transition: color 0.3s;
}
.div12 {
  position: absolute;
  top: 0.094rem;
  left: 1.875rem;
  transition: color 0.3s;
}
.div12:hover {
  color: #0FD895
}
.vectorIcon8 {
  position: absolute;
  height: 76.8%;
  width: 15.48%;
  top: 12.8%;
  right: 84.19%;
  bottom: 10.4%;
  left: 0.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.headerLanguage {
  position: absolute;
  width: calc(100% - 1496px);
  top: 1.656rem;
  right: 5.281rem;
  left: 88.219rem;
  height: 1.563rem;
  cursor: pointer;
}
.div13,
.div14,
.div15 {
  position: absolute;
  cursor: pointer;
  top: 0.031rem;
  left: 31.063rem;
  font-weight: 500;
  transition: color 0.5s, filter 0.5s;
}
.div13:hover,
.div14:hover,
.div15:hover{
  color: #0FD895;
  backdrop-filter: blur(1px);
}
.div14,
.div15 {
  top: 0.063rem;
  left: 15.438rem;
}
.div15 {
  left: 1.063rem;
  color: var(--color-whitesmoke-200);
}
.headerList {
  position: absolute;
  top: 1.688rem;
  left: 34.375rem;
  width: 38.188rem;
  height: 1.5rem;
  text-align: center;
}
.headerLogoIcon {
  position: absolute;
  top: 1.5rem;
  left: 5.313rem;
  width: 13.563rem;
  height: 1.875rem;
  cursor: pointer;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(5, 53, 37, 0.05),
    rgba(16, 185, 129, 0.6)
  );
  width: 101.25rem;
  height: 4.475rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--pocketoptioncom-white);
}
.googlevecIcon {
  position: absolute;
  height: 51.82%;
  width: 6.68%;
  top: 23.64%;
  right: 57.64%;
  bottom: 24.55%;
  left: 35.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.google {
  position: absolute;
  top: 0.438rem;
  left: calc(50% - 14.1px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.95rem;
  height: 1.188rem;
}
.regisGoogle {
  width: calc(100% - 50px);
  top: calc(50% + 214px);
  right: 1.875rem;
  left: 1.25rem;
  border-radius: var(--br-xl);
  background-color: var(--pocketoptioncom-white);
  height: 2.063rem;
  color: var(--color-dimgray-100);
  cursor: pointer;
}
.b29,
.div16,
.regisGoogle {
  position: absolute;
}
.div16 {
  top: 27.313rem;
  left: 1.188rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--pocketoptioncom-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.688rem;
  height: 1.375rem;
}
.b29 {
  top: 1.156rem;
  left: 3.781rem;
  line-height: 12px;
}
.regisLogging {
  position: absolute;
  top: 22.063rem;
  left: 1.25rem;
  cursor: pointer;
  border-radius: var(--br-xl);
  background: linear-gradient(0deg, #10b981, #0a6043);
  width: 15.625rem;
  height: 3.063rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-16-upper-size);
  color: var(--pocketoptioncom-white);
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.div17 {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 17.6px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.regisContract,
.vectorIcon9 {
  position: absolute;
  overflow: hidden;
}
.regisContract {
  top: 17.375rem;
  left: 3.063rem;
  border-bottom: 1px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 13.813rem;
  height: 2.5rem;
  text-align: left;
  color: var(--color-mintcream);
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}
.regisContract:hover {
  border-bottom-color: transparent;
}
.vectorIcon9 {
  height: 2.88%;
  width: 5%;
  top: 53.65%;
  right: 88%;
  bottom: 43.46%;
  left: 7%;
  max-width: 100%;
  max-height: 100%;
}
.span {
  color: var(--color-mediumseagreen-300);
}
.checkbox {
  position: relative;
  top: 278px;
  /* left: 0; */
  right: 123px;
  margin: 0;
  height: 1rem;
  width: 0.938rem;
  cursor: pointer;
}
.div18 {
  position: absolute;
  top: 0.875rem;
  left: calc(50% - 110px);
  display: flex;
  align-items: center;
  width: 6.75rem;
  height: 1.375rem;
}
.regisPassword {
  position: absolute;
  width: calc(100% - 50px);
  top: 11.75rem;
  right: 1.875rem;
  left: 1.25rem;
  border-radius: var(--br-xl);
  border: 2px solid var(--color-mintcream);
  box-sizing: border-box;
  height: 3.125rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.email {
  position: absolute;
  top: 0.875rem;
  left: calc(50% - 110px);
  display: flex;
  align-items: center;
  width: 4.813rem;
  height: 1.375rem;
}
.regisEmail {
  position: absolute;
  width: calc(100% - 50px);
  top: 6.75rem;
  right: 1.875rem;
  left: 1.25rem;
  border-radius: var(--br-xl);
  border: 2px solid var(--color-mintcream);
  box-sizing: border-box;
  height: 3.125rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.b30 {
  position: relative;
  top: 27px;
  left: 43.5px;
  line-height: 12px;
  display: flex;
  width: 3.819rem;
}
.tabsBtnRight {
  position: absolute;
  top: 0;
  left: 141.5px;
  background-color: var(--color-darkslategray-300);
  width: 141.5px;
  height: 4.188rem;
  cursor: pointer;
}
.b31 {
  position: relative;
  top: 27px;
  left: 15px;
  line-height: 12px;
  display: flex;
  width: 7.788rem;
}
.tabsBtnLeft {
  position: absolute;
  top: 0;
  /* left: 0; */
  cursor: pointer;
  background-color: var(--color-gray-200);
  border-top: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 141.5px;
  height: 4.188rem;
  color: var(--color-mediumseagreen-300);
}
.registrationContainer,
.tabsBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
}
.tabsBtn {
  height: 4.188rem;
  overflow: hidden;
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.registrationContainer {
  height: 32.5rem;
}
.firstPage,
.registration {
  height: 196.25rem;
  overflow: hidden;
}
.registration {
  position: fixed;
  top: 0;
  left: 101.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-200);
  width: 18.75rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
  z-index: 100;
}
.firstPage {
  background-color: #0F1C2B;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: var(--pocketoptioncom-nunito-sans-bold-16-upper-size);
  color: var(--color-mintcream);
  font-family: var(--pocketoptioncom-semantic-link);
}
