.firstPage,
.registration {
  height: 196.25rem;
  overflow: hidden;
}
.firstPage {
  background-color: transparent;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: var(--pocketoptioncom-nunito-sans-bold-16-upper-size);
  color: var(--color-mintcream);
  font-family: var(--pocketoptioncom-semantic-link);
}
.main {
  width: 101.25rem; 
  /* height: 171.688rem; */
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.main,
.mainSlider {
  position: relative;
  top: 0;
  left: 0;
}
