.vectorIcon {
  position: absolute;
  height: 100%;
  width: 12.5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 87.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tradingBroker {
  position: absolute;
  top: 0.125rem;
  left: 0;
  line-height: 33px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.438rem;
  height: 0.938rem;
}
.footerLogo {
  position: absolute;
  top: 21.25rem;
  left: 5.313rem;
  width: 10rem;
  height: 1.25rem;
  text-align: center;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  color: var(--color-lightslategray-100);
  cursor: pointer;
}
.div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 11.138rem;
  height: 1.375rem;
}
.footerLink {
  position: absolute;
  top: 16.875rem;
  left: 75.606rem;
  border-bottom: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 11.113rem;
  height: 1.538rem;
  cursor: pointer;
  padding-bottom: 3px;
  transition: border-bottom 0.3s ease;
}
.footerLink:hover {
  border-bottom-color: transparent;
}
.div1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 9.431rem;
  height: 1.375rem;
}
.footerLink1 {
  position: absolute;
  top: 16.875rem;
  left: 63.069rem;
  border-bottom: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 9.413rem;
  height: 1.538rem;
  cursor: pointer;
  padding-bottom: 3px;
  transition: border-bottom 0.3s ease;
}
.footerLink1:hover {
  border-bottom-color: transparent;
}
.div2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 15.113rem;
  height: 1.375rem;
}
.footerLink2 {
  position: absolute;
  top: 16.875rem;
  left: 44.856rem;
  border-bottom: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 15.088rem;
  height: 1.538rem;
  cursor: pointer;
  padding-bottom: 3px;
  transition: border-bottom 0.3s ease;
}
.footerLink2:hover {
  border-bottom-color: transparent;
}
.amlKyc {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 9.881rem;
  height: 1.375rem;
}
.footerLink3 {
  position: absolute;
  top: 16.875rem;
  left: 31.869rem;
  border-bottom: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 9.863rem;
  height: 1.538rem;
  cursor: pointer;
  padding-bottom: 3px;
  transition: border-bottom 0.3s ease;
}
.footerLink3:hover {
  border-bottom-color: transparent;
}
.div3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 15.863rem;
  height: 1.375rem;
}
.footerLink4 {
  position: absolute;
  top: 16.875rem;
  left: 12.906rem;
  border-bottom: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 15.838rem;
  height: 1.538rem;
  cursor: pointer;
  padding-bottom: 3px;
  transition: border-bottom 0.3s ease;
}
.footerLink4:hover {
  border-bottom-color: transparent;
}
.div4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 4.494rem;
  height: 1.375rem;
}
.footerLink5 {
  position: absolute;
  top: 16.875rem;
  left: 5.313rem;
  border-bottom: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 4.475rem;
  height: 1.538rem;
  cursor: pointer;
  padding-bottom: 3px;
  transition: border-bottom 0.3s ease;
}
.footerLink5:hover {
  border-bottom-color: transparent;
}
.div5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 11.919rem;
  height: 1.25rem;
}
.footerRisks {
  position: absolute;
  top: 12.15rem;
  left: 5.313rem;
  border-bottom: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 11.894rem;
  height: 1.313rem;
  font-size: var(--font-size-mini);
  cursor: pointer;
  padding-bottom: 21px;
  transition: border-bottom 0.3s ease;
}
.footerRisks:hover {
  border-bottom-color: transparent;
}
.forex {
  margin: 0;
}
.forexContainer {
  top: 6.438rem;
  left: 5.313rem;
  font-size: var(--pocketoptioncom-semantic-link-size);
  line-height: 24px;
  color: var(--color-lightslategray-100);
  display: flex;
  align-items: center;
  width: 93.625rem;
  height: 4.125rem;
}
.b,
.forexContainer,
.vectorIcon1 {
  position: absolute;
}
.vectorIcon1 {
  height: 101.67%;
  width: 8.11%;
  top: -0.83%;
  right: 91.13%;
  bottom: -0.83%;
  left: 0.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  top: 0.125rem;
  left: 2.25rem;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 14.775rem;
  height: 1.25rem;
}
.footerWarning {
  position: absolute;
  width: calc(100% - 1319px);
  top: 4.375rem;
  right: 77.25rem;
  left: 5.188rem;
  height: 1.5rem;
  font-size: var(--font-size-mini);
  color: var(--color-lightslategray-100);
}
.footer,
.joinBeckgraundIcon {
  position: absolute;
  overflow: hidden;
}
.footer {
  top: 181.938rem;
  left: 0;
  background-color: var(--color-darkslategray-500);
  width: 101.25rem;
  height: 24.563rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-16-upper-size);
}
.joinBeckgraundIcon {
  top: calc(50% - 499.4px);
  left: calc(50% - 798px);
  width: 120rem;
  height: 37.438rem;
  object-fit: cover;
}
.div6,
.joinBtn {
  position: absolute;
}
.div6 {
  top: 0.988rem;
  left: calc(50% - 177px);
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.125rem;
  height: 1.188rem;
  transition: color 0.3s ease; /* Плавное изменение цвета */
}
.joinBtn {
  top: 17.325rem;
  left: calc(50% - 189.2px);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-300);
  width: 23.65rem;
  height: 3.188rem;
  color: var(--color-mediumseagreen-300);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 153, 0.5);
  transition: all 0.3s ease; /* Плавный переход */
}
.joinBtn:hover {
  /* background-color: #80d0ff; Меняем фон на более светлый */
  box-shadow: 0 0 20px rgba(0, 255, 179, 0.8), 0 0 30px rgba(0, 255, 179, 0.6); /* Усиливаем свечение */
}
.joinBtn:hover .div6 {
  color: #00FFAA;
}
.tradingBrokerContainer {
  position: absolute;
  top: 11.625rem;
  left: calc(50% - 482px);
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  font-family: var(--pocketoptioncom-semantic-link);
  display: flex;
  align-items: center;
  width: 62.625rem;
  height: 2.5rem;
}
.div7,
.mainJoin {
  position: absolute;
}
.div7 {
  top: 6.188rem;
  left: calc(50% - 279px);
  font-size: var(--pocketoptioncom-montserrat-semibold-40-size);
  letter-spacing: 1px;
  line-height: 48px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.375rem;
  height: 3.063rem;
}
.mainJoin {
  top: 155.188rem;
  left: 0;
  background: linear-gradient(180deg, #053525, #10b981);
  width: 101.25rem;
  height: 26.75rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--pocketoptioncom-nunito-sans-bold-16-upper-size);
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.txt {
  width: 100%;
}
.div8 {
  top: 7.163rem;
  left: 0.025rem;
  display: flex;
  align-items: center;
  width: 26.813rem;
}
.b1,
.div8,
.risingIcon {
  position: absolute;
}
.b1 {
  top: 4.6rem;
  left: 0.025rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 11.625rem;
}
.risingIcon {
  top: 0;
  left: 0;
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
}
.contentSix {
  position: absolute;
  width: calc(100% - 1158.7px);
  top: 19.713rem;
  right: 2.631rem;
  left: 69.788rem;
  height: 12.938rem;
}
.b2,
.div9 {
  position: absolute;
  top: 7.163rem;
  left: -0.019rem;
  display: flex;
  align-items: center;
  width: 26.875rem;
}
.b2 {
  top: 4.6rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 11.188rem;
}
.contentFive {
  position: absolute;
  width: calc(100% - 1158.7px);
  top: 19.713rem;
  right: 35.713rem;
  left: 36.706rem;
  height: 14.375rem;
}
.b3,
.div10 {
  position: absolute;
  top: 7.163rem;
  left: 0;
  display: flex;
  align-items: center;
  width: 26.813rem;
}
.b3 {
  top: 4.6rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 8.875rem;
}
.contentFour {
  position: absolute;
  width: calc(100% - 1158.7px);
  top: 19.713rem;
  right: 68.794rem;
  left: 3.625rem;
  height: 14.375rem;
}
.b4,
.div11 {
  position: absolute;
  top: 7.188rem;
  left: 0.025rem;
  display: flex;
  align-items: center;
  width: 26.5rem;
}
.b4 {
  top: 4.625rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 18.563rem;
}
.contentThree {
  position: absolute;
  width: calc(100% - 1158.7px);
  top: 2.25rem;
  right: 2.631rem;
  left: 69.788rem;
  height: 12.938rem;
}
.div12 {
  top: 7.188rem;
  left: -0.019rem;
  display: flex;
  align-items: center;
  width: 26.125rem;
}
.b5,
.contentTwo,
.div12 {
  position: absolute;
}
.b5 {
  top: 4.625rem;
  left: -0.019rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 18.438rem;
}
.contentTwo {
  width: calc(100% - 1158.7px);
  top: 2.25rem;
  right: 35.713rem;
  left: 36.706rem;
  height: 12.938rem;
}
.div13 {
  top: 7.188rem;
  left: 0;
  display: flex;
  align-items: center;
  width: 26.813rem;
}
.b6,
.contentOne,
.div13 {
  position: absolute;
}
.b6 {
  top: 4.625rem;
  left: 0;
  font-size: var(--pocketoptioncom-nunito-sans-bold-20-upper-size);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 17.063rem;
}
.contentOne {
  width: calc(100% - 1158.7px);
  top: 2.25rem;
  right: 68.794rem;
  left: 3.625rem;
  height: 12.938rem;
}
.principlesContent {
  position: absolute;
  width: 100%;
  top: 6.5rem;
  right: 0;
  left: 0;
  height: 36.363rem;
}
.div14 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  line-height: 48px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 58rem;
}
.principlesValues {
  position: absolute;
  width: calc(100% - 660px);
  top: 0;
  right: 37.813rem;
  left: 3.438rem;
  height: 3rem;
  font-size: var(--pocketoptioncom-montserrat-semibold-40-size);
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.mainContainerPrinciples {
  position: absolute;
  top: 58.813rem;
  left: 1.688rem;
  width: 99.25rem;
  height: 42.863rem;
}
.b7,
.linkFive {
  position: absolute;
}
.b7 {
  top: 0;
  left: 0;
}
.linkFive {
  top: 12.625rem;
  left: 22.438rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 10.438rem;
  height: 1.5rem;
  cursor: pointer;
}
.b7,
.b7,
.b7,
.amlKyc1,
.b9,
.b11 {
  border-bottom: 1px solid var(--color-mediumseagreen-300);
  transition: border-bottom 0.3s ease, color 0.3s ease;
}
.b7:hover,
.b7:hover,
.b7:hover,
.amlKyc1:hover,
.b9:hover,
.b11:hover {
  border-bottom-color: transparent;
}
.amlKyc1 {
  top: 0;
  left: -0.062rem;
}
.amlKyc1,
.b9,
.linkFour {
  position: absolute;
}
.linkFour {
  top: 7.313rem;
  left: 70.5rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 10.875rem;
  height: 1.5rem;
  cursor: pointer;
}
.b9 {
  top: 1.438rem;
  left: 0;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
}
.linkThree,
.linkTwo {
  position: absolute;
  top: 7.375rem;
  left: 47.313rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 11.375rem;
  height: 2.938rem;
  cursor: pointer;
}
.linkTwo {
  top: 12.625rem;
  width: 12.625rem;
  height: 1.5rem;
}
.b11 {
  top: -0.031rem;
  left: 0;
  border-bottom: 1px solid var(--color-mediumseagreen-300);
}
.b11,
.div15,
.linkOne {
  position: absolute;
}
.linkOne {
  top: 7.375rem;
  left: 22.5rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  width: 13.063rem;
  height: 2.938rem;
  cursor: pointer;
}
.div15 {
  top: 2.063rem;
  left: 22.438rem;
  font-size: var(--pocketoptioncom-montserrat-semibold-40-size);
  letter-spacing: 1px;
  line-height: 48px;
  font-weight: 600;
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
  display: flex;
  align-items: center;
  width: 16.188rem;
}
.documentationIcon {
  position: absolute;
  top: 2.25rem;
  left: 3.75rem;
  width: 12.438rem;
  height: 12.438rem;
  object-fit: cover;
}
.mainContainerDocuments {
  position: absolute;
  width: calc(100% - 135px);
  top: 32.188rem;
  right: 3.125rem;
  left: 5.313rem;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-300);
  height: 17.25rem;
}
.div16,
.div17,
.div18,
.div19,
.div20,
.div21,
.tradingBroker2 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 1.438rem;
}
.tradingBroker2 {
  top: 100px;
  left: -0.019rem;
  color: var(--color-silver);
  width: 29.875rem;
}
.div16,
.div17,
.div18,
.div19,
.div20,
.div21 {
  top: 12.188rem;
  left: 0;
  width: 17.125rem;
}
.div17,
.div18,
.div19,
.div20,
.div21 {
  top: 10.75rem;
  width: 41.625rem;
}
.div18,
.div19,
.div20,
.div21 {
  top: 9.313rem;
  width: 22.25rem;
}
.div19,
.div20,
.div21 {
  top: 7.875rem;
  width: 41.938rem;
}
.div20,
.div21 {
  top: 6.425rem;
  width: 5.563rem;
}
.div21 {
  top: 4.988rem;
  width: 41.944rem;
}
.rightQuotesIcon {
  position: absolute;
  top: calc(50% - 142.2px);
  left: 452px;
  width: 3.875rem;
  height: 3.875rem;
  overflow: hidden;
}
.clientsRight {
  position: absolute;
  height: 100%;
  width: calc(100% - 461px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 28.813rem;
}
.clientsLeft,
.div22 {
  position: absolute;
  left: 0;
}
.div22 {
  top: -0.062rem;
  letter-spacing: 1px;
  line-height: 48px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 24.044rem;
  height: 9.063rem;
}
.clientsLeft {
  width: calc(100% - 765px);
  top: 5.063rem;
  right: 47.813rem;
  height: 9rem;
  font-size: var(--pocketoptioncom-montserrat-semibold-40-size);
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.mainContainerClients {
  position: absolute;
  top: 6.688rem;
  left: 6.375rem;
  width: 73.313rem;
  height: 19.25rem;
}
.image2Icon,
.mainContainer {
  position: absolute;
  left: 0;
  width: 101.25rem;
}
.mainContainer {
  top: 46.563rem;
  background-color: #1f242d;
  height: 108.625rem;
  overflow: hidden;
}
.image2Icon {
  top: 0;
  height: 46.563rem;
  object-fit: cover;
}
.gradient,
.gradient1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.gradient {
  width: 100%;
  right: 0;
  left: 0;
  background: linear-gradient(
    86.92deg,
    rgba(5, 53, 37, 0.5),
    rgba(6, 34, 9, 0.1)
  );
}
.gradient1 {
  width: 100.12%;
  right: -0.06%;
  left: -0.06%;
  background: linear-gradient(111.19deg, #073c2b, rgba(4, 31, 22, 0.2));
}
.missionGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 101.25rem;
  height: 46.563rem;
}
.div23,
.div24,
.div25,
.div26,
.tradingBroker3 {
  position: absolute;
  top: 29.163rem;
  left: 0.563rem;
  display: flex;
  align-items: center;
  width: 30.406rem;
  height: 1.438rem;
}
.div24,
.div25,
.div26,
.tradingBroker3 {
  top: 27.725rem;
  width: 62.4rem;
}
.div25,
.div26,
.tradingBroker3 {
  top: 24.188rem;
  left: 0.625rem;
  width: 13.181rem;
}
.div26,
.tradingBroker3 {
  top: 22.738rem;
  left: 0.563rem;
  width: 57.625rem;
}
.tradingBroker3 {
  top: 21.313rem;
  left: 0.625rem;
  width: 60.069rem;
}
.div27 {
  top: 5.375rem;
  left: 0.5rem;
  font-size: var(--font-size-31xl);
  letter-spacing: 2px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
  color: var(--pocketoptioncom-white);
  width: 59.619rem;
  height: 14.125rem;
}
.div27,
.div28,
.div29 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div28 {
  top: 0.063rem;
  left: 3.5rem;
  white-space: pre-wrap;
  width: 2.813rem;
}
.div29 {
  top: 0;
  left: 0;
  width: 3.188rem;
}
.principalLeft,
.tradePrincipal {
  position: absolute;
  top: 0;
  height: 1.188rem;
}
.principalLeft {
  width: calc(100% - 124px);
  right: 7.75rem;
  left: 0;
  border-bottom: 1px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  color: var(--color-mintcream);
  cursor: pointer;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}.principalLeft:hover{
  border-bottom-color: transparent; /* Полоска исчезает плавно */
}

.tradePrincipal {
  top: 15px;
  width: calc(100% - 857px);
  right: 52.938rem;
  left: 0.625rem;
  font-size: var(--pocketoptioncom-semantic-link-size);
  color: var(--color-lightslategray-100);
}
.missionText {
  position: absolute;
  width: calc(100% - 590px);
  top: 5.313rem;
  right: 32.188rem;
  left: 4.688rem;
  height: 31.5rem;
}
.mainmission,
.vectorIcon2 {
  position: absolute;
  overflow: hidden;
}
.mainmission {
  top: 0;
  left: 0;
  background: linear-gradient(111.19deg, #02274b, #02274b 5%, #012d5a);
  width: 101.25rem;
  height: 46.563rem;
}
.vectorIcon2 {
  height: 25.2%;
  width: 10%;
  top: 38.8%;
  right: 5.48%;
  bottom: 36%;
  left: 84.52%;
  max-width: 100%;
  max-height: 100%;
}
.div30 {
  position: absolute;
  top: 0.094rem;
  left: 1.875rem;
  transition: color 0.3s;
}
.div30:hover {
  color: #0FD895
}
.vectorIcon3 {
  position: absolute;
  height: 76.8%;
  width: 15.48%;
  top: 12.8%;
  right: 84.19%;
  bottom: 10.4%;
  left: 0.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.headerLanguage {
  position: absolute;
  width: calc(100% - 1496px);
  top: 1.656rem;
  right: 5.281rem;
  left: 88.219rem;
  height: 1.563rem;
  cursor: pointer;
}
.div31,
.div32,
.div33 {
  position: absolute;
  top: 0.031rem;
  left: 31.063rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.5s, filter 0.5s;
}
.div31:hover,
.div32:hover,
.div33:hover {
  color: #0FD895;
  backdrop-filter: blur(1px);
}
.div32,
.div33 {
  top: 0.063rem;
  left: 15.438rem;
}
.div33 {
  left: 1.063rem;
  color: var(--color-whitesmoke-200);
}
.headerList {
  position: absolute;
  top: 1.688rem;
  left: 34.375rem;
  width: 38.188rem;
  height: 1.5rem;
  text-align: center;
}
.headerLogoIcon {
  position: absolute;
  top: 1.5rem;
  left: 5.313rem;
  width: 13.563rem;
  height: 1.875rem;
  cursor: pointer;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(5, 53, 37, 0.05),
    rgba(16, 185, 129, 0.6)
  );
  width: 101.25rem;
  height: 4.475rem;
  color: var(--pocketoptioncom-white);
}
.googlevecIcon {
  position: absolute;
  height: 51.82%;
  width: 6.68%;
  top: 23.64%;
  right: 57.64%;
  bottom: 24.55%;
  left: 35.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.google {
  position: absolute;
  top: 0.438rem;
  left: calc(50% - 14.1px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.95rem;
  height: 1.188rem;
}
.regisGoogle {
  width: calc(100% - 50px);
  top: calc(50% + 214px);
  cursor: pointer;
  right: 1.875rem;
  left: 1.25rem;
  border-radius: var(--br-xl);
  background-color: var(--pocketoptioncom-white);
  height: 2.063rem;
  color: var(--color-dimgray-100);
}
.b13,
.div34,
.regisGoogle {
  position: absolute;
}
.div34 {
  top: 27.313rem;
  left: 1.188rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--pocketoptioncom-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.688rem;
  height: 1.375rem;
}
.b13 {
  top: 1.156rem;
  left: 3.781rem;
  line-height: 12px;
}
.regisLogging {
  position: absolute;
  cursor: pointer;
  top: 22.063rem;
  left: 1.25rem;
  border-radius: var(--br-xl);
  background: linear-gradient(0deg, #10b981, #0a6043);
  width: 15.625rem;
  height: 3.063rem;
  font-size: var(--pocketoptioncom-nunito-sans-bold-16-upper-size);
  color: var(--pocketoptioncom-white);
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.div35 {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 17.6px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.regisContract,
.vectorIcon4 {
  position: absolute;
  overflow: hidden;
}
.regisContract {
  top: 17.375rem;
  left: 3.063rem;
  border-bottom: 1px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 13.813rem;
  height: 2.5rem;
  text-align: left;
  color: var(--color-mintcream);
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}
.regisContract:hover {
  border-bottom-color: transparent;
}
.vectorIcon4 {
  height: 2.88%;
  width: 5%;
  top: 53.65%;
  right: 88%;
  bottom: 43.46%;
  left: 7%;
  max-width: 100%;
  max-height: 100%;
}
.span {
  color: var(--color-mediumseagreen-300);
}
.div36 {
  position: absolute;
  top: 0.875rem;
  left: calc(50% - 110px);
  display: flex;
  align-items: center;
  width: 6.75rem;
  height: 1.375rem;
}
.regisPassword {
  position: absolute;
  width: calc(100% - 50px);
  top: 11.75rem;
  right: 1.875rem;
  left: 1.25rem;
  border-radius: var(--br-xl);
  border: 2px solid var(--color-mintcream);
  box-sizing: border-box;
  height: 3.125rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.email {
  position: absolute;
  top: 0.875rem;
  left: calc(50% - 110px);
  display: flex;
  align-items: center;
  width: 4.813rem;
  height: 1.375rem;
}
.regisEmail {
  position: absolute;
  width: calc(100% - 50px);
  top: 6.75rem;
  right: 1.875rem;
  left: 1.25rem;
  border-radius: var(--br-xl);
  border: 2px solid var(--color-mintcream);
  box-sizing: border-box;
  height: 3.125rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.b14 {
  position: relative;
  top: 27px;
  left: 44px;
  line-height: 12px;
  display: flex;
  width: 3.819rem;
}
.tabsBtnRight {
  position: absolute;
  top: 0;
  left: 141.5px;
  background-color: var(--color-darkslategray-300);
  width: 141.5px;
  height: 4.188rem;
  cursor: pointer;
}
.b15 {
  position: relative;
  top: 27px;
  left: 15px;
  line-height: 12px;
  display: flex;
  width: 7.788rem;
}
.tabsBtnLeft {
  position: absolute;
  top: 0;
  /* left: 0; */
  cursor: pointer;
  background-color: var(--color-gray-200);
  border-top: 2px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  width: 141.5px;
  height: 4.188rem;
  color: var(--color-mediumseagreen-300);
}
.checkbox {
  position: relative;
  top: 278px;
  /* left: 0; */
  right: 123px;
  margin: 0;
  height: 1rem;
  width: 0.938rem;
  cursor: pointer;
}
.registrationContainer,
.tabsBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
}
.tabsBtn {
  height: 4.188rem;
  overflow: hidden;
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.registrationContainer {
  height: 32.5rem;
}
.registration,
.thirdPage {
  height: 206.5rem;
  overflow: hidden;
}
.registration {
  position: absolute;
  top: 0;
  left: 101.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-200);
  width: 18.75rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
}
.thirdPage {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--color-mintcream);
  font-family: var(--pocketoptioncom-semantic-link);
}


.typingEffect {
  position: relative;
  top: 70px;
  font-size: 18px;
  line-height: 1.5;
  color: #DDEEE8;
  white-space: pre-wrap; /* Для сохранения переносов */
  word-wrap: break-word;
  margin: 10px 0;
}

.highlight {
  color: #A7BBB4;
  font-size: 19px
}