.thirdPage {
  height: 206.5rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--color-mintcream);
  font-family: var(--pocketoptioncom-semantic-link);
}

.mainContainer {
  position: absolute;
  left: 0;
  width: 100%; /* Изменено с фиксированного 101.25rem */
  top: 46.563rem;
  background-color: #1f242d;
  height: auto; /* Изменено с фиксированного 108.625rem */
  min-height: 108.625rem;
  overflow: hidden;
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 1200px) {
  .mainContainer {
    top: 42rem;
  }
}

@media screen and (max-width: 992px) {
  .thirdPage {
    height: auto;
  }
  
  .mainContainer {
    position: relative;
    top: 0;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 576px) {
  .mainContainer {
    padding: 1.5rem 0;
  }
}