.rightPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #1e1f22;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  border-left: 1px solid #54565f;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.valueInput {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}


.controlBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px 10px;
  border: 1px solid #54565f;
  border-radius: 10px;
  background-color: #2a2a2e;
}

.label {
  margin: 0;
  color: #fff;
  font-size: 14px;
  user-select: none;
}

.controlButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.controlButtons .button {
  width: 30px;
  height: 30px;
  background: #3a3a3a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.controlButtons .button:hover {
  background: #505050;
}

.controlButtons .button[disabled] {
  opacity: 0.5;
}

.valuetime {
  color: #fff;
  font-size: 16px;
  user-select: none;
}

.controlButtons .value {
  color: #fff;
  font-size: 16px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actions .buy,
.actions .sell {
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.actions .buy {
  background: linear-gradient(135deg, #38ef7d, #11998e);
  color: #fff;
}

.actions .buy:hover {
  opacity: 0.9;
}

.actions .sell {
  background: linear-gradient(135deg, #f85032, #e73827);
  color: #fff;
}

.actions .sell:hover {
  opacity: 0.9;
}

.selectTimeWrapper {
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
}