.audcad {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.audcadWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 1px 0px 0px;
}
.separator1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 17.8px;
}
.separatorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.otc {
  height: 7px;
  flex: 1;
  position: relative;
  line-height: 7px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.otcWrapper {
  border-radius: 10px;
  background-color: #505050;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 3px 2px 4px;
}
.pairNumberWrapInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.2px 9px 0px 0px;
  text-align: center;
  font-size: 10px;
  font-family:  "Open Sans"
}
.border {
  width: 8.8px;
  height: 9px;
  position: relative;
  border-right: 1.3px solid #d1d4dc;
  border-bottom: 1.3px solid #d1d4dc;
  box-sizing: border-box;
  transform: rotate(43.8deg);
}
.borderWrapper {
  height: 13.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.3px 4px 0px 0px;
  box-sizing: border-box;
}
.pairNumberWrap {
  position: relative;
  top: 85px;
  left: 113px;
  border-radius: 10px;
  background-color: #212121;
  border: 1px solid #54565f;
  box-sizing: border-box;
  width: 192px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 10px 6px 15px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 16px;
  color: #d1d4dc;
  font-family: Inter;
  cursor: pointer;
}
