/* CSS стили */
.pairContainer {
  display: flex;
  flex-direction: column;
}

.pairNumberWrap {
  display: flex;
  align-items: center;
  margin: 20px 0 0 9px;
  padding: 7px 15px;
  background-color: #212121;
  border: 1px solid #54565f;
  border-radius: 10px;
  width: 164px;
  height: 22px;
  cursor: pointer;
  user-select: none;
  gap: 5px;
}

.dropdown {
  display: flex;
  margin: 15px 0 0 9px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: hidden;
}

.dropdownVisible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdownHidden {
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
}

.currencyContainer {
  display: flex;
  gap: 2px;
}

.currencyPair {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #d1d4dc;
}

.currencyValue {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #d1d4dc;
}

.otcWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #505050;
  border-radius: 10px;
  padding: 1px 5px;
}

.otc {
  font-size: 10px;
  font-weight: 600;
  color: #d1d4dc;
}

.arrowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  transition: transform 0.3s ease;
}

.rotatedArrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}


