.header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 443px); /* Учитываем ширину Registration */
  height: 4.475rem;
  background: linear-gradient(0deg, rgba(5, 53, 37, 0.05), rgba(16, 185, 129, 0.6));
  font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
  color: var(--pocketoptioncom-white);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.headerLogoIcon {
  width: 13.563rem;
  height: 1.875rem;
  cursor: pointer;
}

.headerList {
  display: flex;
  gap: 6rem;
  text-align: center;
}

.div15, .div14, .div13 {
  font-weight: 500;
  cursor: pointer;
  transition: color 0.5s, filter 0.5s;
}

.div15:hover, .div14:hover, .div13:hover {
  color: #0FD895;
  backdrop-filter: blur(1px);
}

.headerLanguage {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.vectorIcon8 {
  width: 18px;
  height: 18px;
}

.vectorIcon7 {
  width: 15px;
  height: 15px;
}
.div12:hover {
  color: #0FD895;
}
