.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }
  
  .headerLanguage {
    display: flex;
    align-items: center;
  }
  
  .vectorIcon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  .headerList {
    display: flex;
    gap: 1rem;
  }
  
  .headerList .div {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  
  .headerLogoIcon {
    width: 100px;
  }
  