.registration {
    position: fixed;
    top: 0;
    left: 101.25rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-gray-200);
    width: 18.75rem;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-lightslategray-100);
    z-index: 100;
    height: 60rem;
}
.registrationContainer,
.tabsBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
}
.registrationContainer {
    height: 32.5rem;
}
.regisGoogle {
    position: absolute;
    width: calc(100% - 50px);
    top: calc(50% + 214px);
    right: 1.875rem;
    left: 1.25rem;
    border-radius: var(--br-xl);
    background-color: var(--pocketoptioncom-white);
    height: 2.063rem;
    color: var(--color-dimgray-100);
    cursor: pointer;
}
.googlevecIcon {
    position: absolute;
    height: 51.82%;
    width: 6.68%;
    top: 23.64%;
    right: 57.64%;
    bottom: 24.55%;
    left: 35.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.google {
    position: absolute;
    top: 0.438rem;
    left: calc(50% - 14.1px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.95rem;
    height: 1.188rem;
}
.div16 {
    position: relative;
    top: 27.1rem;
    left: 1.188rem;
    font-size: var(--pocketoptioncom-nunito-sans-bold-17-size);
    color: var(--pocketoptioncom-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.688rem;
    height: 1.375rem;
}
.b29 {
    position: absolute;
    top: 1.156rem;
    left: 3.781rem;
    line-height: 12px;
}
.regisLogging {
    position: absolute;
    top: 22.063rem;
    left: 1.25rem;
    cursor: pointer;
    border-radius: var(--br-xl);
    background: linear-gradient(0deg, #10b981, #0a6043);
    width: 15.625rem;
    height: 3.063rem;
    font-size: var(--pocketoptioncom-nunito-sans-bold-16-upper-size);
    color: var(--pocketoptioncom-white);
    font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.regisContract {
    position: absolute;
    top: 17.375rem;
    left: 3.063rem;
    border-bottom: 1px solid var(--color-mediumseagreen-300);
    box-sizing: border-box;
    width: 13.813rem;
    height: 2.5rem;
    text-align: left;
    color: var(--color-mintcream);
    overflow: hidden;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}
.regisContract:hover {
    border-bottom-color: transparent;
}
.div17 {
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 17.6px;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.txt {
    width: 100%; 
}
.forex {
    margin: 0;
}
.checkbox {
    position: relative;
    top: 255.1px;
    right: 123px;
    margin: 0;
    height: 1rem;
    width: 0.938rem;
    cursor: pointer;
}
.regisPassword {
    position: absolute;
    width: calc(100% - 50px);
    top: 11.75rem;
    right: 1.875rem;
    left: 1.25rem;
    border-radius: var(--br-xl);
    border: 2px solid var(--color-mintcream);
    box-sizing: border-box;
    height: 3.125rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-4xl);
}
.div18 {
    position: absolute;
    top: 0.875rem;
    left: calc(50% - 110px);
    display: flex;
    align-items: center;
    width: 6.75rem;
    height: 1.375rem;
}
.span {
    color: var(--color-mediumseagreen-300);
}
.regisEmail {
    position: absolute;
    width: calc(100% - 50px);
    top: 6.75rem;
    right: 1.875rem;
    left: 1.25rem;
    border-radius: var(--br-xl);
    border: 2px solid var(--color-mintcream);
    box-sizing: border-box;
    height: 3.125rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-4xl);
}
.email {
    position: absolute;
    top: 0.875rem;
    left: calc(50% - 110px);
    display: flex;
    align-items: center;
    width: 4.813rem;
    height: 1.375rem;
}
.tabsBtn {
    height: 4.188rem;
    overflow: hidden;
    font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
.tabsBtnRight {
    position: absolute;
    top: 0;
    left: 141.5px;
    background-color: var(--color-darkslategray-300);
    width: 141.5px;
    height: 4.188rem;
    cursor: pointer;
}
.b30 {
    position: relative;
    top: 27px;
    left: 43.5px;
    line-height: 12px;
    display: flex;
    width: 3.819rem;
}
.tabsBtnLeft {
    position: absolute;
    top: 0;
    /* left: 0; */
    cursor: pointer;
    background-color: var(--color-gray-200);
    border-top: 2px solid var(--color-mediumseagreen-300);
    box-sizing: border-box;
    width: 141.5px;
    height: 4.188rem;
    color: var(--color-mediumseagreen-300);
}
.b31 {
    position: relative;
    top: 27px;
    left: 15px;
    line-height: 12px;
    display: flex;
    width: 7.788rem;
}