.mainContainerClients {
  position: relative;
  top: 4.688rem;
  left: 14.5rem;
  /* width: 73.313rem; */
  height: 22.25rem;
  display: flex;
  justify-content: center;
}
.clientsRightContainer {
  /* display: flex;
  justify-content: center;
  align-items: start; */
  position: relative;
  bottom: 2rem;
  left: 1rem;
}

.clientsRight {
  /* height: 100%; */
  /* width: calc(100% - 461px); */
  /* top: 0.5rem; */
  /* right: 0; */
  /* bottom: 5.6rem; */
  /* left: 18rem; */
  /* overflow: hidden; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: start; */
}
.typingEffect {
  position: relative;
  top: 70px;
  font-size: 18px;
  line-height: 1.5;
  color: #DDEEE8;
  white-space: pre-wrap; /* Для сохранения переносов */
  word-wrap: break-word;
  margin: 10px 0;
}
.highlight {
  color: #A7BBB4;
  font-size: 19px
}
.rightQuotesIcon {
  position: relative;
  right: 50rem;
  top: 0.5rem;
  /* left: 452px; */
  /* width: 3.875rem; */
  height: 3.875rem;
  overflow: hidden;
}

.div22 {
  position: relative;
  top: -0.062rem;
  letter-spacing: 1px;
  line-height: 48px;
  font-weight: 600;
  /* right: 11.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 24.044rem; */
  height: 9.063rem;
}
.clientsLeft {
  position: relative;
  /* width: calc(100% - 765px); */
  display: flex;
  justify-content: center;
  top: 4.063rem;
  right: 84rem;
  height: 9rem;
  font-size: var(--pocketoptioncom-montserrat-semibold-40-size);
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
}
/* .txt {
  width: 100%;
} */
.forex {
  margin: 0;
}