.mainContainerDocuments {
  position: relative;
  width: calc(100% - 450px);
  top: 13rem;
  right: 3.125rem;
  left: 5.313rem;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-300);
  height: 17.25rem;
  overflow: hidden;
}


.b7 {
  position: relative;
  /* top: 0; */
  left: 5rem;
}
.b8 {
  position: relative;
  /* top: 0; */
  /* left: 5rem; */
  right: 35.2rem;
}
.linkFive {
  position: relative;
  top: 12.625rem;
  left: 17.5rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  /* box-sizing: border-box; */
  /* width: 10.438rem; */
  /* height: 1.5rem; */
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.b7,
.b8,
.amlKyc1,
.b9,
.b6,
.b11 {
  border-bottom: 1px solid var(--color-mediumseagreen-300);
  transition: border-bottom 0.3s ease, color 0.3s ease;
}
.b7:hover,
.b8:hover,
.amlKyc1:hover,
.b9:hover,
.b6:hover,
.b11:hover {
  border-bottom-color: transparent;
}
/* .amlKyc1 {
  top: 0;
  left: -0.062rem;
} */

.linkFour {
  position: relative;
  top: 5.8rem;
  left: 27rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  /* width: 10.875rem; */
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.b9 {
  position: relative;
  top: 1.438rem;
  left: 0;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
}
.b6 {
  position: relative;
  top: 1.5rem;
  right: 50rem;
  /* left: 0; */
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
}
.linkThree {
  position: relative;
  top: 4.3rem;
  left: 4rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  /* box-sizing: border-box; */
  /* width: 11.375rem; */
  /* height: 2.938rem; */
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.linkTwo {
  position: relative;
  top: 8.1rem;
  left: 2.1rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  /* box-sizing: border-box; */
  /* width: 11.375rem; */
  /* height: 2.938rem; */
  cursor: pointer;
  display: flex;
  justify-content: center;
}
/* .linkTwo {
  top: 12.625rem;
  width: 12.625rem;
  height: 1.5rem;
} */
.b11 {
  position: relative;
  /* top: -0.031rem; */
  /* left: 0; */
  right: 37rem;
  border-bottom: 1px solid var(--color-mediumseagreen-300);
}

.linkOne {
  position: relative;
  top: 1.4rem;
  left: 22.5rem;
  /* border-bottom: 1px solid var(--color-mediumseagreen-300); */
  box-sizing: border-box;
  /* width: 13.063rem; */
  /* height: 2.938rem; */
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.div15 {
  position: relative;
  /* top: 2.063rem; */
  bottom: 5rem;
  right: 15.2rem;
  /* left: 22.438rem; */
  font-size: var(--pocketoptioncom-montserrat-semibold-40-size);
  letter-spacing: 1px;
  line-height: 48px;
  font-weight: 600;
  font-family: var(--pocketoptioncom-montserrat-semibold-40);
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 16.188rem; */
}
.documentationFoto {
  position: relative;
  /* top: 2.25rem; */
  bottom: 8rem;
  right: 35rem;
  /* left: 3.75rem; */
  /* width: 12.438rem; */
  height: 12.438rem;
  display: flex;
  justify-content: center;
  object-fit: cover;
}